.header
  .header-nav
    .header-nav-links
      ul.header-nav-list
        li
          a(href="http://doc.bionode.io") Documentation
        li
          a(href="http://project.bionode.io") Project Board
        li
          a(href="https://github.com/bionode/bionode/blob/master/CONTRIBUTING.md") Contribute
        li
          a(href="https://github.com/bionode/bionode/issues/35") Roadmap
        li
          a(href="http://blog.bionode.io") Blog
      a(href="https://github.com/bionode/bionode#readme", target="_blank")
        .button
          span.octocat 
          | View on GitHub
    .header-logo
      a(href="http://www.bionode.io") bionode
  .header-info
    .header-title.header-title-bigger Modular and universal bioinformatics
    .header-horizontal-rule
    .header-description Bionode provides pipeable UNIX command line tools and JavaScript APIs for bioinformatic analysis workflows.
    .header-continue
      a(href="#content") Find out more 
        span.rsaquo &rsaquo;
.content#content
  .content-title About
  .content-horizontal-rule
  .content-sub-container.about
    p Bionode.io is an 
      a(href="http://blog.bionode.io") Open Source community 
      | that aims at building 
      strong highly reusable tools and code 
      | for bioinformatics by leveraging the Node.JS ecosystem.
    p We want to use 
      a(href="https://github.com/substack/stream-handbook") Node.JS Streams 
      | to process 
      a(href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002195") big genomic data
      |.
    p We welcome all kinds of 
      a(href="https://github.com/bionode/bionode/blob/master/CONTRIBUTING.md") contributions 
      | at all levels of experience, either code, knowledge, questions or suggestions.


.content#content
  .content-title Examples
  .content-horizontal-rule
  .content-sub-container.codeExamples
    code
      <!--npm install bionode-ncbi -g-->
      p # Download all bacteria gff files
      h3 $ bionode-ncbi download gff bacteria
      <!-- npm install bionode-sra -g -->
      p # Download all Sequence Read Archives for arthropoda and extract a fastq for each
      h3 $ bionode-ncbi download sra arthropoda | bionode-sra fastq-dump
      <!-- npm install bionode-fasta -g -->
      p # Parse sequences in a fasta file into one JSON object per line, collect the ones that match chr11
      h3 $ cat genome.fasta | bionode-fasta | grep chr11 | bionode-fasta --write
      <!-- npm install dat -->
      <!-- dat init -->
      p # Retrieves all the metadata about formicidae on the assembly database and save into a Dat repository
      h3 $ bionode-ncbi search assembly formicidae | dat import --json
      .content-subtitle.tryBioNode
        h3 Try them online at
        h1
          a(href="http://try.bionode.io") try.bionode.io
  .content-title Features
  .content-horizontal-rule
  .content-sub-container.content-feature-cards
    .content-feature-card
      .content-card-title Scalable
      .content-card-subtitle Streams are everywhere in bionode. This avoids storing intermediate data on disk or run out of memory. Building complex but reproducible pipelines is also easier with Streams
    .content-feature-card
      .content-card-title Universal
      .content-card-subtitle Bionode runs on every platform that supports Node.js and in browsers. Along with a JavaScript API, bionode provides a CLI interface for better interactivity, and integration with other tools and languages (e.g., R, Ruby, Python)
    .content-feature-card
      .content-card-title Modular
      .content-card-subtitle Every tool tries to do just one thing well and work independently. This gives more flexibility when building pipelines and more resolution for tracking versions and changes.
  .content-title
    i.fa.fa-github
    |  Team
  .content-horizontal-rule
  .content-sub-container
    for member in public._data.team
      a(href=member.html_url)
        img(src=member.avatar_url height=80 width=80)
  .content-title
    i.fa.fa-github
    |  Community
  .content-horizontal-rule
  .content-sub-container
    for member in public._data.community
      a(href=member.html_url)
        img(src=member.avatar_url height=80 width=80)
  .content-title
    i.fa.fa-github
    |  Events participants
  .content-horizontal-rule
  .content-sub-container
    for member in public._data.events
      a(href=member.html_url)
        img(src="#{member.avatar_url}&s=40"  height=40 width=40)
  .content-title Our Users
  .content-horizontal-rule
  .content-sub-container.content-feature-cards
    .content-feature-card(onclick="window.open('http://afra.sbcs.qmul.ac.uk', '_blank')" style="cursor:pointer;")
      img(src="images/users/afra.png")
      .content-card-title Afra
      .content-card-subtitle  Genome Annotation for the Masses - afra.sbcs.qmul.ac.uk
    .content-feature-card(onclick="window.open('http://genevalidator.sbcs.qmul.ac.uk', '_blank')" style="cursor:pointer;")
      img(src="images/users/genevalidator.png")
      .content-card-title GeneValidator
      .content-card-subtitle  Identify problems with protein-coding gene predictions.
    .content-feature-card(onclick="window.open('http://www.geodiver.co.uk', '_blank')" style="cursor:pointer;")
      img(src="images/users/geodiver.png")
      .content-card-title GeoDiver
      .content-card-subtitle  An easy to use web tool for analysing GEO datasets.
    .content-feature-card(onclick="window.open('https://uclex.cs.ucl.ac.uk', '_blank')" style="cursor:pointer;")
      img(src="images/users/phenopolis.png")
      .content-card-title Phenopolis
      .content-card-subtitle  An Open Platform for Harmonization &amp; Analysis of Sequencing &amp; Phenotype Data.
    .content-feature-card(onclick="window.open('https://repositive.io', '_blank')" style="cursor:pointer;")
      img(src="images/users/repositive.png")
      .content-card-title Repositive.io
      .content-card-subtitle  One-click access to human genomic data.
    .content-feature-card(onclick="window.open('http://openretractions.com', '_blank')" style="cursor:pointer;")
      img(src="images/users/openretractions.png")
      .content-card-title OpenRetractions.com
      .content-card-subtitle  Check for retraction notices of any journal article.

  .content-title Acknowledgements
  .content-horizontal-rule
  .content-sub-container.content-feature-cards
    .content-feature-card(onclick="window.open('http://openretractions.com', '_blank')" style="cursor:pointer;")
      img(src="images/users/dat.png")
      .content-card-title Dat
      //- .content-card-subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .content-feature-card(onclick="window.open('https://science.mozilla.org', '_blank')" style="cursor:pointer;")
      img(src="images/users/mozillascience.png")
      .content-card-title Mozilla Science Lab
      //- .content-card-subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .content-feature-card(onclick="window.open('https://wurmlab.github.io', '_blank')" style="cursor:pointer;")
      img(src="images/users/wurmlab.png")
      .content-card-title Wurmlab.github.io
      //- .content-card-subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  .footer
    .footer-directory
      .footer-column
        .footer-heading Explore
        .footer-horizontal-rule
        ul.footer-nav-list
          li
            span.rsaquo &rsaquo; 
            a(href="http://www.stickermule.com/marketplace/1917-bionode-modular-and-universal-bioinformatics") Get Stickers
      .footer-column
        .footer-heading Learn
        .footer-horizontal-rule
        ul.footer-nav-list
          li
            span.rsaquo &rsaquo; 
            a(href="http://try.bionode.io") Try
      .footer-column
        .footer-heading Connect
        .footer-horizontal-rule
        ul.footer-nav-list
          li
            a(href="https://twitter.com/bionode")
              span.twitter-green
              | Twitter
          li
            a(href="https://github.com/bionode")
              span.octocat-green
              | GitHub
    .footer-credits
      span.footer-emphasized bionode 
      | &bull; 2014-2017 &bull; design by 
      a(href="https://github.com/flipside-org") flipside  
      | for 
      a(href="https://dat-data.com") dat 
      | &bull; dat kindly granted reuse for bionode
script.
  (function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
  (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
  m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-54802258-1', 'auto');
    ga('send', 'pageview');

script.
  ((window.gitter = {}).chat = {}).options = {
    room: 'bionode/bionode'
  };
script(src="https://sidecar.gitter.im/dist/sidecar.v1.js", async, defer)
